<main class="mainAlbumById font-sans" *ngIf="userByIdData!=null">
    <section >
        <div class="flexColumn imgCoverArtist">
           <div class="h100 contInfoAlbum">
                <div>
                    <img class="wh100 imgUser" *ngIf="userByIdData.images!=undefined" src="{{userByIdData.images[1].url}}" alt="">
                </div>
                <div class="descAlbum">
                    <div>
                        <span class="Title">{{userByIdData.type | titlecase}}</span>
                    </div>
                    <div>
                        <span  mat-icon-button matTooltip="Ir al perfil en Spotify" 
                         (click)="goToProfile(userByIdData.external_urls.spotify)" class="boldTitle Title fzbig cursor-pointer
                        ">{{userByIdData.display_name}}</span>
                    </div>
                    <div *ngIf="userByIdData.followers!=undefined">
                        <span class="Title">{{userByIdData.followers.total}} Seguidores</span>
                    </div>
                </div>
           </div>
        </div>
</section>
<div>
    <app-top-tracks-user [topTracksUser]="topTracksUser" [totalTopTracksUser]="topTracksUserTotal"></app-top-tracks-user>
</div>
<div class="divBtnLoadMoreNewRealeses flexAlignCenter justifyCenter pb-8"  *ngIf="topTracksUser!==undefined&&topTracksUser.items.length>0 && topTracksUser.items.length<topTracksUserTotal">
    <button class="rounded-full bg-ColorSpot p-15" (click)="loadMoreTracksByUser()">Cargar mas</button>
</div>
</main>