<main class="mainAlbumById font-sans" *ngIf="userByIdData!=null">
    <section >
        <div class="flexColumn imgCoverArtist">
           <div class="h100 contInfoAlbum">
                <div>
                    <img class="wh100 imgUser" *ngIf="userByIdData.images!=undefined" src="{{userByIdData.images[1].url}}" alt="">
                </div>
                <div class="descAlbum">
                    <div>
                        <span class="Title">{{userByIdData.type | titlecase}}</span>
                    </div>
                    <div>
                        <span  mat-icon-button matTooltip="Ir al perfil en Spotify" 
                         (click)="goToProfile(userByIdData.external_urls.spotify)" class="boldTitle Title fzbig cursor-pointer
                        ">{{userByIdData.display_name}}</span>
                    </div>
                    <div *ngIf="userByIdData.followers!=undefined">
                        <span class="Title">{{userByIdData.followers.total}} Seguidores</span>
                    </div>
                </div>
           </div>
        </div>
</section>

<div class="p-15" *ngIf="topTracksUser.items!=undefined && idUserLogin===userId">
    <div class="flex flexBetweenCenter pb-4">
        <h2 class="text-PrimaryColor flexAlignCenter margin0 ">Canciones mas escuchadas este mes </h2>
        <div class="flex flexAlignCenter">
            <label [routerLink]="['/user',userByIdData.id, 'top','tracks','time_range','short_term']" class="text-PrimaryColor hover:underline cursor-pointer ">Mostrar todos</label>
        </div>
    </div>
  
    <app-top-tracks-user [topTracksUser]="topTracksUser" [totalTopTracksUser]="topTracksUserTotal"></app-top-tracks-user>
    <div class="divBtnLoadMoreNewRealeses flexAlignCenter justifyCenter pb-8"  *ngIf="topTracksUser!==undefined&&topTracksUser.items.length>0 && topTracksUser.items.length<topTracksUserTotal">
        <button class="rounded-full bg-ColorSpot p-15" (click)="loadMoreTracksByUser()">Cargar mas</button>
    </div>
</div>
<div class="p-15" *ngIf="topArtistUser.items!=undefined && idUserLogin===userId">
    <div class="flex flexBetweenCenter pb-4">
        <h2 class="text-PrimaryColor flexAlignCenter margin0 ">Artistas mas escuchados este mes </h2>
        <div class="flex flexAlignCenter">
            <label [routerLink]="['/user',userByIdData.id, 'top','artists','time_range','short_term']" class="text-PrimaryColor hover:underline cursor-pointer ">Mostrar todos</label>
        </div>
    </div>
  
    <app-top-artists-user [topArtistsUser]="topArtistUser" [topArtistsUserTotal]="topArtistsUserTotal"></app-top-artists-user>
    <div class="divBtnLoadMoreNewRealeses flexAlignCenter justifyCenter pb-8"  *ngIf="topArtistUser!==undefined&&topArtistUser.items.length>0 && topArtistUser.items.length<topArtistsUserTotal">
        <button class="rounded-full bg-ColorSpot p-15" (click)="loadMoreArtistByUser()">Cargar mas</button>
    </div>
</div>

<div class="p-15" *ngIf="playlistUser.items!=undefined">
    <div class="flex flexBetweenCenter pb-4">
        <h2 class="text-PrimaryColor flexAlignCenter margin0 ">Playlists </h2>
        <div class="flex flexAlignCenter">
            <label [routerLink]="['/user',userByIdData.id, 'playlists']"  class="text-PrimaryColor hover:underline cursor-pointer ">Mostrar todos</label>
        </div>
    </div>
    <app-playlist-all [dataPlaylist]="playlistUser"></app-playlist-all>
   
</div>

</main>