<ng-container class="contNewRelease"> </ng-container>

<div class="contNewRelease">
  <div class="title mt-8">
    <div class="flex flexBetweenCenter"></div>
  </div>
  <div class="p-4">
    <div class="flex flex-col gap-2 sticky z-10 top-16">
      <div class=" gap-2 rounded-500Br bg-buttonSearch focus:border-blue-400 flex items-center w-full md:w-2/4 lg:w-3/12 sm:w-full  text p-4 placeholder-shown:border-gray-500">
        <mat-icon
          class="text-ColorSpot"
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="search"
        ></mat-icon>
        <input
          placeholder="Busca la Playlist"
          class=" flex-grow  focus:outline-none bg-buttonSearch text-white text-lg  "
          [formControl]="input"
          type="search"
          name=""
          id=""
        />
      </div>
    </div>
    <app-playlist-all
      [isDataSource]="true"
      [dataPlaylist]="dataSource.data.getValue()"
    ></app-playlist-all>
  </div>
</div>
