<header class="headerMain">
    <div class="Header-item">
        <nav class="navMain flexBetweenCenter">
            <ul class="">
                <li [routerLink]="['/newRealeses']">Nuevos lanzamientos</li>
                <li>Artistas</li>
                <li>Albums</li>
            </ul>
            <ul *ngIf="tokenNav==null;else elseBlock">
                <li (click)="authorizeWithSpotifyEvent()">Iniciar Sesion</li>
            </ul>
            <ng-template #elseBlock>
                <ul >
                    <li (click)="logout()">Cerrar Sesion</li>
                </ul>
              </ng-template>
          </nav>
    </div>
</header>
