<header class="headerMain">
  <div class="Header-item">
    <nav class="navMain flexBetweenCenter">
      <ul class="font-sans">
        <div
          class="flex alignCenter gridGap5"
          *ngIf="tokenNav != null; else elseNavBlock"
        >
          <li class="text-ColorSpot logoApp" [routerLink]="['/home']">
            SpotifyAPI
          </li>
          <li [routerLink]="['/newRealeses']">Nuevos lanzamientos</li>
          <li [routerLink]="['/Categories']">Categorias</li>
        </div>
      </ul>
      <div class="flex items-center justify-center">
        <div *ngIf="profile !== null">
          <div>
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </div>
        </div>
        <ul *ngIf="tokenNav == null; else elseBlock">
          <li class="cursor-pointer" (click)="authorizeWithSpotifyEvent()">
            Iniciar Sesion
          </li>
        </ul>
      </div>

      <ng-template #elseBlock>
        <div
          mat-icon-button
          [matMenuTriggerFor]="menu"
          *ngIf="profile !== null"
          class="flexAlignCenter contFirstFigureProfile"
        >
          <div mat-icon-button matTooltip="{{ profile.display_name }}">
            <figure class="flexAlignCenter m4">
              <img
                class="figureProfile m4"
                *ngIf="profile.images.length > 0; else elseBlockImgurl"
                [src]="profile.images[0].url"
              />
            </figure>
          </div>
        </div>
        <mat-menu #menu="matMenu">
          <span
            [routerLink]="['/user', profile?.id]"
            class="font-sans"
            mat-menu-item
            >Perfil</span
          >
          <span
            class="LogoutBtn"
            (click)="logout()"
            class="font-sans"
            mat-menu-item
            >Cerrar Sesi&oacute;n</span
          >
        </mat-menu>
      </ng-template>
      <ng-template #elseNavBlock>
        <li class="text-ColorSpot logoApp" [routerLink]="['/home']">
          SpotifyAPI
        </li>
      </ng-template>
      <ng-template #elseBlockImgurl>
        <img class="figureProfile m4" />
      </ng-template>
    </nav>
  </div>
</header>
