.headerMain{
    display: flex;
    font-size: 14px;
    line-height: 1.5;
    position: sticky;
    top: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 3px 20px 4px #fff3, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.Header-item{
    width: 100%;
}
nav {
    
    background-color: rgb(83, 83, 83);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li:not(.logoApp){
    margin-right: 10px;
    color: white;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
  }
  .logoApp{
    margin-right: 10px;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .figureProfile{
   width: 24px;
   height: 24px;   
   border-radius: 50%;
   -o-object-fit: cover;
   object-fit: cover;
  
  }
  .contFirstFigureProfile:hover{
    transform: scale(1.04);
  }
  .contFirstFigureProfile{
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    text-decoration: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    background-color: rgba(0,0,0,.54);
    margin: 4px;
  }
  .m4{
    margin: 4px;
  }
  .LogoutBtn{
    border-top:  1px solid #fff;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  /* Aplicar estilos diferentes para pantallas pequeñas */
  @media (max-width: 768px) {
    nav {
      padding: 10px 10px;
    }
    
    nav ul {
      flex-direction: column;
    }
    
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
