    <!-- <div  class="artists--grid" *ngIf="dataArtist!==undefined && dataArtist.items!==undefined;">
      <app-artist [artist]="artist" *ngFor="let artist of dataArtist.items"></app-artist>
    </div> -->
 

    <div  [ngSwitch]="isSearch">
      <div class="artists--grid" *ngSwitchCase="false">
        <app-artist [artist]="artist" *ngFor="let artist of dataArtist.items"></app-artist>
      </div>
      <div class="artists--grid" *ngSwitchCase="true">
        <app-artist [artist]="artist" *ngFor="let artist of dataArtist"></app-artist>
      </div>
    </div>