.flexColumn{
    flex-direction: column;
    display: flex;
}
.imgCoverArtist{
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    contain: strict;
    content-visibility: auto;
    height: 40vh;
    min-height: 340px;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    grid-gap: 15px;
}

.nameArtisth1{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 3.5rem;
    font-weight: 400;
    color:#fff;
}
.mainArtistById{
    background-color: #121212;
    height: calc(100vh - 70px);
}
.contTopTracksArtist{
    padding: 15px;
}