.imgAlbum{
    max-width: 100%;
    border-radius: 10px;
}
.albumContFull{
    background-color: #181818;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    transition: background-color .3s ease;
    grid-gap: 5px;
}
.albumContFull:hover{
    background: #282828;
    cursor:pointer;
}
.descAlbum .nameAlbum{
    color: white;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    // font-family: "Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic";
}
.nameArtist,.year,.type{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.875rem;
}
.year::after{
    content: "•";
    margin: 0px 4px;
}
.nameArtist:hover{
    text-decoration: underline;
}

@media screen and (min-width: 20em) and (max-width: 30em){
   .albumContFull{
    padding: 30px;
   }  
}
