.categories--grid{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 15px;
    background-color: #121212;
}
.divBtnLoadMoreNewRealeses{
    background-color: #121212;

}
// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .categories--grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 15px;
    }
        
}
// web

@media screen and (min-width: 54em){
    .categories--grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
    }
}
@media screen and (min-width: 64em){
    .categories--grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 15px;
    }
}
    
@media screen and (min-width: 74em){
    .categories--grid{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 15px;
    }
}
@media screen and (min-width: 84em){
    .categories--grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 15px;
    }
}

@media screen and (min-width: 94em){
    .categories--grid{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 15px;
    }
}