<div  [routerLink]="['/playlist',playlist.id]" class="playlistContFull">
    <div class="contImgPlaylist">
        <img class="imgPlaylist"  [src]="playlist.images[0]?.url || 'assets/img/logoSpot.png'">
    </div>
    <div class="descPlaylist relative z-10 max-w-full inline-block align-middle">
        <div class="namePlaylist text-ellipsis overflow-hidden whitespace-nowrap w-full ">{{playlist.name}}</div>
    </div>
    <div class="descPlaylistP gap-1 text-ellipsis overflow-hidden whitespace-nowrap w-full">
       <p>{{playlist.description}}</p>
    </div>
</div>
