<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-7 xl:grid-cols-8 p-15  gap-3.5">
    <app-categorie [categorie]="categorie" *ngFor="let categorie of datacategories"></app-categorie>
</div>
<div class="divBtnLoadMoreNewRealeses flexAlignCenter justifyCenter pb-8"  *ngIf="datacategories!==undefined&&datacategories.length>0 && datacategories.length<totalElementsData">
    <button class="rounded-full bg-ColorSpot p-15" (click)="loadMoreCategories()">Cargar mas</button>
</div>
